#output
/dist
/node_modules

#env
.env

#packages
/yarn.lock
/package-lock.json

#VsCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea

#Project
/sessions/*
/instances/*