#output
/dist
/node_modules

#env
.env

#packages
/yarn.lock

#VsCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#Project
/sessions/*
/instances/*
/src/generated/prisma

/src/generated/prisma

/src/generated/prisma

/webhook-queue/
/webhook/
/storage/
/coverage/
*.log
.env.*
!.env.example

pull.log