version: "3.9"

services:
  app:
    build: .
    container_name: zaptobox_api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./sessions:/zaptobox/sessions
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: zaptobox_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: zaptobox
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
