name: Docker ZapToBox whatsapp API Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker run -d --name zaptobox -p 3000:3000 --tagzaptobox-whatsapp-api:$(date +%s)
